.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table1 {
  div[class^="dynamicGrid_tableRow__"] {
    color: red;
  }
}

.table2 {
  width: 700px;
  div[class^="dynamicGrid_table__"] {
    div[class^="dynamicGrid_tableRow__"] {
      color: yellow;
      background-color: rgba(100, 100, 100, 0.9);

      div[class*="dynamicGrid_tableHeader__"] {
        background: red;
        div[class^="dynamicGrid_sortIcon__"] {
          color: black;
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }
  }
}
